/*Navbar*/
.mdl-layout__tab-bar {
    height: inherit;
}

.mdl-layout__tab {
    margin-top: 16px;
}

.mdl-layout__tab-bar-container {
    height: 100%
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    height: 5px
}

/*Content*/
.mdl-layout__content {
    width: 80%;
    margin: 0 auto;
}

/*Search*/
.search-option {
    width: 50%;    
}

.search-option.left {
    text-align: right;
    margin-right: 15px;
}
.search-option.left .mdl-textfield__label, .search-option.left .mdl-textfield__input {
    text-align: right;
}

.search-option.right {
    text-align: left;
    margin-left: 15px;
}

.search-option .header {
    margin-bottom: 6px;
}

.search-option .mdl-textfield {
    width: 90%;
}

.search-option.sentReceived span {
    margin: 0 10px;
}

.search-option.sentReceived {
    padding-top: 12px;
}

.mdl-button {
    color: rgba(96, 125, 139, 0.7)
}

.mdl-button .fa {
    font-size: 20pt;
    line-height: 35px;
}

.btn-selected {
    background-color: rgba(158,158,158,.2);
    border: 1px solid rgba(158,158,158,.4)
}

.mdl-textfield__label {
    color: rgba(96, 125, 139, 0.7);
    
}